body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header-Stil */
header {
    background-color: #4e0000;
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Navigationsleiste */
nav ul {
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;}

    main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 1em;
    }

   main iframe{
    margin-top: 1em;
   }